.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem 1rem 1.5rem;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-90p {
  width: 90%;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}
