.hidden {
  display: none;
}

.container {
  margin: auto;
  width: 375px;
  padding-bottom: 1rem;
}

.row {
  width: 100%;
  display: flex;
}

.col-90p {
  width: 90%;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}
