.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 0 1rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-90p {
  width: 90%;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.text-align {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.extra-margin {
  margin: 2rem;
}

@supports (max-width: 1200px) {
  @media screen and (min-width: 576px) {
    .container {
      max-width: 1200px;
    }
  }
}
