h1 {
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #333533;
  color: #f5cb5c;
}

.placeholder-text {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
}
