h1,
button {
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #333533;
  color: #f5cb5c;
}

button {
  background-color: #f5cb5c;
  color: #333533;
  border: 0;
}

.placeholder-text {
  margin: 5rem 0;
  font-size: 0.9rem;
}

.big-button {
  width: 8rem;
  height: 3rem;
  border-radius: 20px;
  font-size: 1.25rem;
}
